# Visual Studio files
**/*.sln
**/*.vcxproj*
.vscode/
**/.vs/

# Build files
**/Build/

#Binaries files
**/Binaries/

# Asset files
Data/**

# macOS artifacts
**/.DS_Store

# Version file
GFMDL-Converter/src/Version.hpp